<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    <bean id="departmentBean" class="com.autowiring.beans.DepartmentBean" >
    	<constructor-arg value="Technology"/>
    </bean>
    
    <!--  
    <bean id="departmentBean" class="com.autowiring.beans.DepartmentBean" primary="true">
    	<property name="name" value="Technology"/>
    </bean>
    -->
    <!--  
     <bean id="departmentBean1" class="com.autowiring.beans.DepartmentBean">
    	<property name="name" value="Technology"/>
    </bean>
    -->
    
     <!--  
     <bean id="emp" class="com.autowiring.beans.EmployeeBean" autowire="byType">
    	<property name="fullName" value="King Kochhar"/>
    </bean>
    -->
    
    <!--  
     <bean id="emp" class="com.autowiring.beans.EmployeeBean" autowire="byName">
    	<property name="fullName" value="King Kochhar"/>
    </bean>
    -->
    
    <bean id="emp" class="com.autowiring.beans.EmployeeBean" autowire="constructor">
    	<constructor-arg value="King Kochhar"/>
    </bean>
    
</beans> 